// Fuentes
$font-family: "Yanone Kaffeesatz", sans-serif;

// Fondos
$bg-header: $color-umber;
$bg-body: $color-dun;
$bg-footer: $color-taupe;
$bg-section-light: $color-khaki;
$bg-section-medium: $color-coyote;
$bg-section-dark: $color-umber;
